body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
   padding: 0;
   
   background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1{
    text-align: center ;
    background: linear-gradient(to right, #54690a, #ef6a0b, #edc80e, #e91212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Standard property */
            color: transparent;   /* Fallback color */
    font-size: 50px;
    text-decoration: underline;
  
}

form{
    max-width: 500px;
    margin: auto;
    background-color: #8bd1d1f6;
    border-radius: 20px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.3); 
    padding: 40px;
  box-shadow: 0 0 15px #8bd1f6;
    
}

fieldset{
    border: 2px solid rgb(90, 52, 177);
    border-radius: 8px;
    padding: 20px;
    background-color:beige;
  box-shadow: 0 0 15px rgb(90, 52, 177);
  background-color: rgb(220, 238, 245);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

}
legend{
    font-weight: bold;
    color: rgb(56, 46, 56);
    font-size: larger;
    font-weight: bolder;
}
input{
    width: 100%;
    height: 20px;
}
label{
    display: block ;
    margin: 10px;
    color:rgb(136, 69, 21);
    font-weight: bold;
   
}
textarea{
    background-color: rgb(221, 238, 238);
    width:100%;
    height: 50px;
 border: 1px solid rgb(69, 39, 140);
 border-radius: 8px;
 padding: 5px;
}

button{
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(154, 100, 204);
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 15px rgb(154, 100, 204);

}
button:hover{
    background-color: rgb(98, 12, 172);
}



/* Dynamic Resume  */
  

#resumeContent {
    display: none;
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
  box-shadow: 0 0 15px #8bd1f6;
  margin-top: 40px;
}
h3{
    border: 2px double black;
    text-align: center; 
}
h2{

    background: linear-gradient(to right, #d25b3d, #ab622e, #edc911, #e91212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Standard property */
            color: transparent;   /* Fallback color */
    text-align: center;



}
img{
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
}